# Parsing some HTML
Process some HTML from https://www.timeanddate.com/weather/uk/london/climate <br>
Generates a pandas dataframe showing annual and then monthly average temperature, pressure and humidity.

In [1]:
string='All Year Climate & Weather Averages in London</h3><div class="four columns"><p><span class=light>High Temp: </span> 24&nbsp;°C</p><p><span class=light>Low Temp: </span> 3&nbsp;°C</p><p><span class=light>Mean Temp: </span> 12&nbsp;°C</p></div><div class="four columns"><p><span class=light>Precipitation: </span> 49.7  mm</p><p><span class=light>Humidity: </span> 73%</p><p><span class=light>Dew Point: </span> 7&nbsp;°C</p></div><div class="four columns"><p><span class=light>Wind: </span> 9 mph</p><p><span class=light>Pressure: </span> 1015 mbar</p><p><span class=light>Visibility: </span> 11&nbsp;km</p></div></div><div class="climate-month climate-month--january"><h3 class=mgt0>January Climate & Weather Averages in London</h3><div class="four columns"><p><span class=light>High Temp: </span> 8&nbsp;°C</p><p><span class=light>Low Temp: </span> 3&nbsp;°C</p><p><span class=light>Mean Temp: </span> 6&nbsp;°C</p></div><div class="four columns"><p><span class=light>Precipitation: </span> 52.9  mm</p><p><span class=light>Humidity: </span> 80%</p><p><span class=light>Dew Point: </span> 3&nbsp;°C</p></div><div class="four columns"><p><span class=light>Wind: </span> 10 mph</p><p><span class=light>Pressure: </span> 1015 mbar</p><p><span class=light>Visibility: </span> 11&nbsp;km</p></div></div><div class="climate-month climate-month--february"><h3 class=mgt0>February Climate & Weather Averages in London</h3><div class="four columns"><p><span class=light>High Temp: </span> 9&nbsp;°C</p><p><span class=light>Low Temp: </span> 3&nbsp;°C</p><p><span class=light>Mean Temp: </span> 6&nbsp;°C</p></div><div class="four columns"><p><span class=light>Precipitation: </span> 47.9  mm</p><p><span class=light>Humidity: </span> 77%</p><p><span class=light>Dew Point: </span> 2&nbsp;°C</p></div><div class="four columns"><p><span class=light>Wind: </span> 9 mph</p><p><span class=light>Pressure: </span> 1014 mbar</p><p><span class=light>Visibility: </span> 11&nbsp;km</p></div></div><div class="climate-month climate-month--march"><h3 class=mgt0>March Climate & Weather Averages in London</h3><div class="four columns"><p><span class=light>High Temp: </span> 12&nbsp;°C</p><p><span class=light>Low Temp: </span> 4&nbsp;°C</p><p><span class=light>Mean Temp: </span> 8&nbsp;°C</p></div><div class="four columns"><p><span class=light>Precipitation: </span> 29.8  mm</p><p><span class=light>Humidity: </span> 70%</p><p><span class=light>Dew Point: </span> 2&nbsp;°C</p></div><div class="four columns"><p><span class=light>Wind: </span> 10 mph</p><p><span class=light>Pressure: </span> 1016 mbar</p><p><span class=light>Visibility: </span> 12&nbsp;km</p></div></div><div class="climate-month climate-month--april"><h3 class=mgt0>April Climate & Weather Averages in London</h3><div class="four columns"><p><span class=light>High Temp: </span> 16&nbsp;°C</p><p><span class=light>Low Temp: </span> 6&nbsp;°C</p><p><span class=light>Mean Temp: </span> 11&nbsp;°C</p></div><div class="four columns"><p><span class=light>Precipitation: </span> 30.6  mm</p><p><span class=light>Humidity: </span> 65%</p><p><span class=light>Dew Point: </span> 4&nbsp;°C</p></div><div class="four columns"><p><span class=light>Wind: </span> 9 mph</p><p><span class=light>Pressure: </span> 1016 mbar</p><p><span class=light>Visibility: </span> 12&nbsp;km</p></div></div><div class="climate-month climate-month--may"><h3 class=mgt0>May Climate & Weather Averages in London</h3><div class="four columns"><p><span class=light>High Temp: </span> 18&nbsp;°C</p><p><span class=light>Low Temp: </span> 9&nbsp;°C</p><p><span class=light>Mean Temp: </span> 14&nbsp;°C</p></div><div class="four columns"><p><span class=light>Precipitation: </span> 52.1  mm</p><p><span class=light>Humidity: </span> 67%</p><p><span class=light>Dew Point: </span> 7&nbsp;°C</p></div><div class="four columns"><p><span class=light>Wind: </span> 9 mph</p><p><span class=light>Pressure: </span> 1015 mbar</p><p><span class=light>Visibility: </span> 12&nbsp;km</p></div></div><div class="climate-month climate-month--june"><h3 class=mgt0>June Climate & Weather Averages in London</h3><div class="four columns"><p><span class=light>High Temp: </span> 21&nbsp;°C</p><p><span class=light>Low Temp: </span> 12&nbsp;°C</p><p><span class=light>Mean Temp: </span> 17&nbsp;°C</p></div><div class="four columns"><p><span class=light>Precipitation: </span> 35.0  mm</p><p><span class=light>Humidity: </span> 65%</p><p><span class=light>Dew Point: </span> 10&nbsp;°C</p></div><div class="four columns"><p><span class=light>Wind: </span> 9 mph</p><p><span class=light>Pressure: </span> 1017 mbar</p><p><span class=light>Visibility: </span> 12&nbsp;km</p></div></div><div class="climate-month climate-month--july"><h3 class=mgt0>July Climate & Weather Averages in London</h3><div class="four columns"><p><span class=light>High Temp: </span> 24&nbsp;°C</p><p><span class=light>Low Temp: </span> 14&nbsp;°C</p><p><span class=light>Mean Temp: </span> 19&nbsp;°C</p></div><div class="four columns"><p><span class=light>Precipitation: </span> 51.0  mm</p><p><span class=light>Humidity: </span> 65%</p><p><span class=light>Dew Point: </span> 12&nbsp;°C</p></div><div class="four columns"><p><span class=light>Wind: </span> 9 mph</p><p><span class=light>Pressure: </span> 1015 mbar</p><p><span class=light>Visibility: </span> 12&nbsp;km</p></div></div><div class="climate-month climate-month--august"><h3 class=mgt0>August Climate & Weather Averages in London</h3><div class="four columns"><p><span class=light>High Temp: </span> 22&nbsp;°C</p><p><span class=light>Low Temp: </span> 14&nbsp;°C</p><p><span class=light>Mean Temp: </span> 18&nbsp;°C</p></div><div class="four columns"><p><span class=light>Precipitation: </span> 57.5  mm</p><p><span class=light>Humidity: </span> 69%</p><p><span class=light>Dew Point: </span> 12&nbsp;°C</p></div><div class="four columns"><p><span class=light>Wind: </span> 8 mph</p><p><span class=light>Pressure: </span> 1014 mbar</p><p><span class=light>Visibility: </span> 12&nbsp;km</p></div></div><div class="climate-month climate-month--september"><h3 class=mgt0>September Climate & Weather Averages in London</h3><div class="four columns"><p><span class=light>High Temp: </span> 20&nbsp;°C</p><p><span class=light>Low Temp: </span> 11&nbsp;°C</p><p><span class=light>Mean Temp: </span> 16&nbsp;°C</p></div><div class="four columns"><p><span class=light>Precipitation: </span> 41.2  mm</p><p><span class=light>Humidity: </span> 73%</p><p><span class=light>Dew Point: </span> 10&nbsp;°C</p></div><div class="four columns"><p><span class=light>Wind: </span> 8 mph</p><p><span class=light>Pressure: </span> 1017 mbar</p><p><span class=light>Visibility: </span> 11&nbsp;km</p></div></div><div class="climate-month climate-month--october"><h3 class=mgt0>October Climate & Weather Averages in London</h3><div class="four columns"><p><span class=light>High Temp: </span> 16&nbsp;°C</p><p><span class=light>Low Temp: </span> 9&nbsp;°C</p><p><span class=light>Mean Temp: </span> 13&nbsp;°C</p></div><div class="four columns"><p><span class=light>Precipitation: </span> 61.5  mm</p><p><span class=light>Humidity: </span> 78%</p><p><span class=light>Dew Point: </span> 9&nbsp;°C</p></div><div class="four columns"><p><span class=light>Wind: </span> 8 mph</p><p><span class=light>Pressure: </span> 1015 mbar</p><p><span class=light>Visibility: </span> 10&nbsp;km</p></div></div><div class="climate-month climate-month--november"><h3 class=mgt0>November Climate & Weather Averages in London</h3><div class="four columns"><p><span class=light>High Temp: </span> 12&nbsp;°C</p><p><span class=light>Low Temp: </span> 6&nbsp;°C</p><p><span class=light>Mean Temp: </span> 9&nbsp;°C</p></div><div class="four columns"><p><span class=light>Precipitation: </span> 72.0  mm</p><p><span class=light>Humidity: </span> 81%</p><p><span class=light>Dew Point: </span> 6&nbsp;°C</p></div><div class="four columns"><p><span class=light>Wind: </span> 9 mph</p><p><span class=light>Pressure: </span> 1012 mbar</p><p><span class=light>Visibility: </span> 10&nbsp;km</p></div></div><div class="climate-month climate-month--december"><h3 class=mgt0>December Climate & Weather Averages in London</h3><div class="four columns"><p><span class=light>High Temp: </span> 9&nbsp;°C</p><p><span class=light>Low Temp: </span> 3&nbsp;°C</p><p><span class=light>Mean Temp: </span> 6&nbsp;°C</p></div><div class="four columns"><p><span class=light>Precipitation: </span> 65.1  mm</p><p><span class=light>Humidity: </span> 81%</p><p><span class=light>Dew Point: </span> 3&nbsp;°C</p></div><div class="four columns"><p><span class=light>Wind: </span> 10 mph</p><p><span class=light>Pressure: </span> 1015 mbar</p><p><span class=light>Visibility: </span> 10&nbsp;km</p></div></div></section></div></div><div class="four columns">'

In [2]:
import re
meanT=[string[m.start()+19:m.start()+21] for m in re.finditer('Mean Temp: </span> ', string)]
meanP=[string[m.start()+18:m.start()+23] for m in re.finditer('Pressure: </span> ', string)]
meanH=[string[m.start()+18:m.start()+20] for m in re.finditer('Humidity: </span> ', string)]

In [3]:
meanT = [int(i.replace('&',' ')) for i in meanT]
meanP = [int(i) for i in meanP]
meanH = [int(i) for i in meanH]

In [4]:
print(meanT, meanP, meanH)

[12, 6, 6, 8, 11, 14, 17, 19, 18, 16, 13, 9, 6] [1015, 1015, 1014, 1016, 1016, 1015, 1017, 1015, 1014, 1017, 1015, 1012, 1015] [73, 80, 77, 70, 65, 67, 65, 65, 69, 73, 78, 81, 81]

In [5]:
import pandas as pd
annualStats = pd.DataFrame([meanT, meanP, meanH]).T

In [6]:
annualStats.columns=['meanT', 'meanP', 'meanH']

In [7]:
annualStats

    meanT  meanP  meanH
0      12   1015     73
1       6   1015     80
2       6   1014     77
3       8   1016     70
4      11   1016     65
5      14   1015     67
6      17   1017     65
7      19   1015     65
8      18   1014     69
9      16   1017     73
10     13   1015     78
11      9   1012     81
12      6   1015     81

In [8]:
segment = 610040
annualStats.to_pickle('/Users/Gavin/Gavin/jupyter/Strava/'+str(segment)+'_AnnualStats.pkl')